NODE_ENV=production

PORT=3000

# DATABASE
DB_CLIENT=pg
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432

#JWT
JWT_SECRET=VyF8X5YpxnHwTaCFJwbYbI7QFtueXdJY
JWT_EXPIRES_IN=10h
JWT_REFRESH_SECRET=6l8YnD0FPY1EUoqkA4AKkdxPOm74fXoC
JWT_REFRESH_EXPIRES_IN=1y

#REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=redis

#CACHE
CACHE_TTL=60
CACHE_CAPACITY=10000

#MAIL
MAIL_HOST=stmp.example.com
MAIL_PORT=1234
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME=null

RESET_PASSWORD_CODE_LIFETIME=20
FRONT_APP_URL="localhost:3000"